# -----------------------------
# Python dev.
# -----------------------------
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
*.egg-info/
tests/output

# -----------------------------
# IDE / Editors
# -----------------------------
.vscode/

# MacOS
.DS_Store

# -----------------------------
# uv / build tool
# -----------------------------
.uv/
uv.lock
# Sphinx / Antsibull build output
docs/
# Collection tarball
*.tar.gz
CHANGELOG.md