name: Auto Tagging

on:
  workflow_run:
    workflows: ["Python CI"]
    types:
      - completed

permissions:
  contents: write

jobs:
  release:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/python-setup

      - name: Commitizen version
        run: |
          TAG=$(uv run cz version)
          echo "TAG=$TAG" >> $GITHUB_ENV

      - name: Create tag
        uses: rickstaa/action-create-tag@v1.7.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ env.TAG }}
          message: "Release ${{ env.TAG }}"
