name: Auto Tagging

on:
  workflow_run:
    workflows: ["Python CI"]
    types:
      - completed
  push:
    branches:
      - main

permissions:
  contents: write
  actions: write

jobs:
  release:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python & uv
        uses: ./.github/actions/python-setup

      - name: Commitzen version
        id: cz
        run: |
          TAG=$(uv run cz version)
          echo "TAG=$TAG" >> $GITHUB_ENV
          echo "Version=$TAG"

      - name: Create tag automatically
        uses: rickstaa/action-create-tag@v1.7.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ env.TAG }}
          tag_prefix: "v"
          message: "Release ${{ env.TAG }}"
          force_push_tag: true
