name: Build

on:
  workflow_run:
    workflows: ["Python CI"]   # triggers after a release workflow completes
    types:
      - completed
  workflow_dispatch:

jobs:
  build-doc:
    runs-on: ubuntu-latest
    steps:
      # 1. Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Python & uv
      - name: Setup Python & uv
        uses: ./.github/actions/python-setup

      # 3. Cache pip dependencies for docs
      - name: Cache pip dependencies (docs)
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: pip-docs-cache
          restore-keys: pip-docs-cache

      # 4. Install Sphinx dependencies
      - name: Install Sphinx dependencies
        run: uv run pip install -r build_docsite/requirements.txt

      # 5. Build documentation
      - name: Build documentation
        run: uv run sphinx-build -b html build_docsite docs/docsite

      # 6. Upload documentation artifact
      - name: Upload documentation artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs/docsite
          retention-days: 1

  build-ansible-collection:
    runs-on: ubuntu-latest
    needs: build-doc
    steps:
      # 1. Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Python & uv
      - name: Setup Python & uv
        uses: ./.github/actions/python-setup

      # 3. Download documentation artifact (needed only here)
      - name: Download documentation artifact
        uses: actions/download-artifact@v4
        with:
          name: docs
          path: docs/docsite

      # 4. Cache pip dependencies for ansible
      - name: Cache pip dependencies (ansible)
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: pip-ansible-cache
          restore-keys: pip-ansible-cache

      # 5. Build Ansible collection
      - name: Build Ansible collection
        run: uv run ansible-galaxy collection build

      # 6. Remove docs after build to save space
      - name: Remove docs
        run: rm -rf docs/docsite

      # 7. Upload Ansible collection artifact with dynamic release tag
      - name: Upload Ansible collection artifact
        uses: actions/upload-artifact@v4
        with:
          name: ansible-collection-${{ github.run_number }}
          path: "jewdba-eda-*.tar.gz"
