name: Build

on:
  workflow_run:
    workflows: ["Python CI"]
    types: [completed]

jobs:
  build-doc:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python & uv
        uses: ./.github/actions/python-setup

      - name: Cache pip dependencies (docs)
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: pip-docs-cache
          restore-keys: pip-docs-cache

      - name: Install Sphinx dependencies
        run: uv run pip install -r build_docsite/requirements.txt

      - name: Build documentation
        run: uv run sphinx-build -b html build_docsite docs/docsite

      - name: Upload documentation artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs/docsite
          retention-days: 1

  build-ansible-collection:
    needs: build-doc
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python & uv
        uses: ./.github/actions/python-setup

      - name: Download docs artifact
        uses: actions/download-artifact@v4
        with:
          name: docs
          path: docs/docsite

      - name: Build Ansible collection
        run: uv run ansible-galaxy collection build

      - name: Upload Ansible collection artifact
        uses: actions/upload-artifact@v4
        with:
          name: jewdba-eda
          path: jewdba-eda-*.tar.gz
          retention-days: 1
