name: Build

on:
  push:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  python-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: ./.github/actions/python-setup
      - name: Install dependencies
        run: uv run pip install -r requirements.txt
      - name: Run tests
        run: uv run pytest

  build-docs:
    runs-on: ubuntu-latest
    needs: python-ci
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: ./.github/actions/python-setup
      - name: Install Sphinx
        run: uv run pip install -r build_docsite/requirements.txt
      - name: Build docs
        run: uv run sphinx-build -b html build_docsite docs/docsite
      - name: Upload docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs/docsite
          retention-days: 1

  build-ansible-collection:
    runs-on: ubuntu-latest
    needs: build-docs
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: ./.github/actions/python-setup
      - name: Download docs artifact
        uses: actions/download-artifact@v4
        with:
          name: docs
          path: docs/docsite
      - name: Build Ansible collection
        run: uv run ansible-galaxy collection build
      - name: Upload Ansible collection artifact
        uses: actions/upload-artifact@v4
        with:
          name: "jewdba-eda-${{ github.run_number }}"
          path: "jewdba-eda-*.tar.gz"
          retention-days: 1
