name: Python CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/python-setup
      - run: uv run pylint plugins

  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/python-setup
      - run: uv run pytest

  ansible-sanity:
    needs: [pylint, pytest]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/python-setup
      - name: Create collection path
        run: |
          mkdir -p ansible_collections/jewdba/eda
          mv * ansible_collections/jewdba/eda
          ls ansible_collections/jewdba/eda
      - run: uv run ansible-test sanity

  ansible-units:
    needs: [pylint, pytest]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/python-setup
      - name: Create collection path
        run: |
          mkdir -p ansible_collections/jewdba
          mv * ansible_collections/jewdba/eda
          ls ansible_collections/jewdba/eda
      - run: uv run ansible-test units --python 3.12
