name: Python CI

on:
  workflow_call:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main

jobs:
  pylint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - uses: ./.github/actions/python-test
        with:
          test-type: pylint
          extra-args: plugins

  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - uses: ./.github/actions/python-test
        with:
          test-type: pytest

  ansible-sanity:
    needs: [pylint, pytest]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - uses: ./.github/actions/ansible-test
        with:
          test-type: sanity

  ansible-units:
    needs: [pylint, pytest]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - uses: ./.github/actions/ansible-test
        with:
          test-type: units
          extra-args: "--python 3.12"
