name: Creeate release upon git tag

on:
  push:
    branches:
      - main
  workflow_run:
    workflows: ["Python CI"]
    types:
      - completed

permissions:
  contents: write
  actions: write

jobs:
  auto-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - uses: ./.github/actions/python-setup

      #- uses: Klemensas/action-autotag@stable
      #  with:
      #    GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Set Git identity
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Create SemVer tag with Commitizen
        run: uv run cz bump --yes --no-verify
