name: Creeate release upon git tag

on:
  push:
    branches:
      - main
  workflow_run:
    workflows: ["Python CI"]
    types:
      - completed

permissions:
  contents: write
  actions: write

jobs:
  auto-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - uses: Klemensas/action-autotag@stable
        with:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
