name: Auto-Tagging

on:
  push:
    branches:
      - main
  workflow_run:
    workflows: ["Python CI"]
    types:
      - completed

permissions:
  contents: write
  actions: write

jobs:
  auto-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - uses: ./.github/actions/python-setup

      - name: Get version from Commitizen
        id: cz_version
        run: |
          VERSION=$(uv run cz version)
          echo "::set-output name=version::$VERSION"

      - uses: Klemensas/action-autotag@stable
        with:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          version: ${{ steps.cz_version.outputs.version }}
          tag_prefix: "v"
